#doors-container {
    align-items: center;
    display: none;
    height: 50%;
    justify-content: space-evenly;

    .doors {
        border: 1px solid black;
        background-color: burlywood;
        height: 80%;
        position: relative;
        width: 30%;

        .answers-container {
            background-color: white;;
            border: 1px solid black;
            left: 36%;
            padding: 0.5rem 1rem;
            position: absolute;
            top: 15%;
            z-index: 1;

        }


        .door-knob {
            border: 1px solid black;
            background-color: gold;
            border-radius: 1rem;
            height: 1rem;
            left: 5%;
            position: absolute;
            top: 50%;
            width: 1rem;
            z-index: 1;
        }

        .frames {
            border: 1px solid black;
            background-color: burlywood;
            left: 15%;
            position: absolute;
            width: 70%;

            &.frame_1 {
                height: 50%;
                top: 5%;
            }

            &.frame_2 {
                height: 30%;
                top: 65%;
            }
        }
    }
}