* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
}

body {
    display: flex;
    font-size: 0.85rem;
    justify-content: center;
    width: 100%;

    .container {

        .fixed-container {
            height: 1500px;

            .text-part-one {
                margin-top: 100px;
                position: fixed;
            }
        }

        .text-part-two {
            height: auto;
            margin-bottom: 50px;
            top: 2500px;
        }

        .iframe-container{
            align-self: center;
            height: 0;
            padding-bottom: 67.25%; 
            position: relative;
            width: 100%;

            iframe {
                height: 100%;
                left: 0;
                position: absolute;
                top:0;
                width: 100%;
            }
        }

        .whitespace {
            background-color: white;
            height: 1500px;
            width: 100%;
        }
    }
}