* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
}

body {
    display: flex;
    font-size: 0.85rem;
    justify-content: center;
    max-width: 100%;
    width: 100vw;

    .container {

        .fixed-container {
            height: 1500px;

            .text-part-one {
                margin-top: 200px;
                position: fixed;
            }
        }

        .text-part-two {
            height: 2000px;
            top: 2500px;
        }
    }
}