* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: rgb(241, 241, 241);
}

body {
    align-items: center;
    background-color: #2d2d2d;
    display: flex;
    height: 100vh;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    width: 100vw;

    .container,
    #chosen-door-container {
        height: 100%;
        margin: 0.5rem;
        max-height: 700px;
        max-width: 500px;
        width: 100%;

        @include sm {
            margin: 0;
        }
    }
}