#hourglass-container {
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    justify-content: center;

    .question {
        text-align: center;
        visibility: hidden;
    }

    .svg-container {
        visibility: hidden;
        
        svg {
            height: 50%;
            width: 45%;
        }
    }

    .minutes-container {
        visibility: hidden;

        .text {
            padding-bottom: 1rem;
            text-align: center;
            width: 45%;
        }
    }

}