#explanation-case {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 60%;

    .part-1 {
        visibility: visible;
    }

    .part-2 {
        visibility: hidden;
    }
}